/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    background: #000;
    color: white;
}

/* HEADER */
header {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

/* LOGO */
.logo-area .logo {
    width: 140px;
}

/* DESKTOP NAV */
.desktop-nav {
    display: flex;
    gap: 40px;
}

.desktop-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.desktop-nav a:hover {
    color: #FF6565;
}

/* HAMBURGER — mobile only */
.hamburger {
    width: 28px;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    background: white;
    margin: 5px 0;
    border-radius: 20px;
}

/* HERO SECTION */
.hero {
    width: 100%;
    height: 100vh;
    background: url("headphones_hero_1.jpg") center/cover no-repeat;
    position: relative;
    padding-top: 160px;
    text-align: center;
}

/* Gradient overlay */
.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(#000, transparent 45%);
    opacity: 0.6;
}

.content {
    position: relative;
    z-index: 10;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

/* TEXTS */
h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
}

.subtitle {
    margin-top: 15px;
    font-size: 20px;
    opacity: 0.85;
}

.cta-btn {
    display: inline-block;
    margin-top: 30px;
    background: #FF6565;
    padding: 15px 40px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.desc {
    margin-top: 35px;
    font-size: 18px;
    opacity: 0.9;
    line-height: 1.5;
}


/* MOBILE STYLES – FOR WIDTH 480px AND BELOW */
@media (max-width: 480px) {

    header {
        padding: 20px;
        justify-content: center;
    }
    
     body {
        background: url("headphones_hero_1.jpg") center/cover no-repeat;
        background-attachment: fixed;
    }

    .hero {
        background: none;
        padding-top: 130px;
    }


    /* Show hamburger */
    .hamburger {
        display: flex;
        position: absolute;
        left: 20px;
        top: 22px;
    }

    /* Hide desktop nav */
    .desktop-nav {
        display: none;
    }

    .logo {
        width: 120px;
    }

    /* Mobile hero */
    .hero {
        padding-top: 130px;
        background-position: center;
    }

    h1 {
        font-size: 32px;
    }

    .subtitle {
        font-size: 16px;
    }

    .desc {
        font-size: 14px;
    }
}



